
/*
        Descripcion
*/
.Description-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
    height: 15rem;
    background-color: #334756;
    width: 90%;
    font-size: 1.5rem;
    flex: 2;
    transition-duration: .6s;
}

.Description-Container p{
    padding: 15px;
    font-size: normal;
    text-align: justify;
}

.Image{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.Image img{
    height: 10rem;
    animation: rotate 5s linear infinite;
}

.Description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Description h1{
    font-size: 2rem;
    margin: 0;
}

.What-is-this{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.What-is-this p{
    margin: 0;
}

/* 
        CONTENEDOR DE SOCIALES
 */

.Social{
    background-color: #54b4fd;
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}

.Social-Title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    align-items: center;
    margin: 0;
    color: white;
}

.Icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding-top: 2.5%;
    color: white;
}

.IconsName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

.Icons a{
    width: 20%;
    color: white;
}

.IconsName p{
    width: 20%;
}

/*
        ABOUT ME
*/

.About-me-Container{
    margin: 5%;
    margin-top: 0;
    height: 100%;
    background-color: #501717;
    color: gainsboro;
    font-size: 1.6rem;
}

.About-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About-me-Text{
    width: 90%;
}

.About-me-Text p{
    text-align: justify;
}

.About-me-Text h1{
    margin: 0;
    padding-top: .5em;
    font-size: 2.5rem;
}

.About-me-Image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About-me-Image img{
    width: 15rem;
    padding: 1.5em;
    padding-top: 0;
}

.About-me-Image small{
    text-align: center;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (min-width: 600px){

    .Main-Container{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 2%;
    }

    /*
            DESCRIPTION
     */

    .Description-Container:hover{
        transform: scale(1.1);
        transition-duration: .6s;
    }

    .Description-Container{
        height: 20rem;
    }

    .Description-Container p{
        font-size: 2.5rem;
        display: flex;
    }

    .Description-Container img{
        height: 10rem;
    }

    .Image img{
        height: 13rem;
    }

    .Description-Container:hover h1{
        font-size: 4rem;
        transition-duration: .6s;
    }

    .What-is-this h1{
        font-size: 3rem;
        transition-duration: .6s;
    }

    .What-is-this p{
        font-size: 2rem;
    }

    /*
            ABOUT ME
    */

    .About-me-Container{
        transition-duration: .6s;
    }

    .About-me-Container:hover{
        transform: scale(1.1);
        transition-duration: .6s;
    }

    /*
            SOCIAL
     */

    .Social{
        transition-duration: .6s;
        height: 55%;
        margin-top: 5%;
    }

    .Social:hover{
        transform: scale(1.1);
        transition-duration: .6s;
    }

    .Social-Title{
        transition-duration: .6s;
    }

    .Social:hover .Social-Title{
        font-size: 5rem;
        transition-duration: .6s;
    }

    .Icons{
        transition-duration: .6s;
    }

    #Github{
        transition-duration: .6s;
    }

    #Github:hover {
        color: black;
        transition-duration: .6s;
    }
    
    #linkedin{
        transition-duration: .6s;
    }

    #Linkedin:hover {
        color: black;
        transition-duration: .6s;
    }

    #Twitter:hover {
        color: black;
        transition-duration: .6s;
    }

    @media (max-width: 870px) {
        .What-is-this p{
            font-size: 1.5rem;
        }

        .Image img{
            height: 12rem;
        }

        .Description-Container:hover h1{
            font-size: 2.5rem;
        }

        .What-is-this h1{
            font-size: 2rem;
        }
    }
}