html{
    font-size: 10px;
}

body{
    margin: 0;
    background-color: rgb(9, 33, 51);
    font-family: 'Exo 2',sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: rgb(255, 77, 42);
}

.Container-All{
    width: 100%;
    max-width: 1500px;
}


.Barra nav{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 15px;
}

a{
    text-decoration: none;
    color: #000;
}

.Barra nav a{
    font-weight: 600;
    padding: 2.5px;
    transition-duration: .6s;
}

.Barra{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 2rem;
    transition-duration: .6s;
}

.logo img{
    width: 65px;
    padding-right: 5px;
    padding-left: 7px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2D3A4C;
    color: darkgray;
    margin-top: auto;
}

.Footer h1{
    font-size: 3rem;
}

.Footer p{
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 600px){
    
    nav a:hover{
        font-size: 2rem;
        color: #fff;
        transition-duration: .6s;
    }

    .logo:hover{
        transform: scale(1.1);
        transition-duration: .6s;
    }

    .Barra{
        justify-content: space-between;
    }

    .Barra nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Barra nav a{
        padding: 5px;
    }
}