.ButtonsContainer{
    border: 2px solid white;
    background-color: darkcyan;
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition-duration: .6s;
}

.Actions button{
    font-family:  'Exo 2', sans-serif;
    width: 8rem;
    height: 3rem;
    margin-top: 1%;
}

.ButtonsText{
    font-size: 3rem;
    transition-duration: .6s;
}

.ButtonsContainer:hover .ButtonsText{
    font-size: 4rem;
    transition-duration: .6s;
    z-index: 1;
}


.ButtonsContainer:hover{
    transform: scale(1.1);
    background-color: skyblue;
    transition-duration: .6s;
}